:root {
    --header-height: 64px;

    --color-bg: #ffffff;
    --color-text: #222222;
    --color-border: #e5e5e5;
}

body {
    padding-top: var(--header-height); 
    font-family: "Pretendard", sans-serif;
    color: var(--color-text);
    background-color: var(--color-bg);
}
